html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 360px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b2bec3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
